/* Mi historia es de ciencia ficcion inspirada en pokemon, que utiliza muchos rojos y azules */

:root {
    --primary: #337084;
    --secondary: #de583b;
    --accent: #ebab7d;
    --text: #313129;
    --light: #f1e2c7;
    --neongreen: #70e000;
    --neongreen_darker: #38b000;
    --neoncyan: #6fffe9;
    --neoncyan_darker: #46a4a2;
    --neoncyan_darkest: #3a506b;
}

