/* Mi historia es de ciencia ficcion inspirada en pokemon, que utiliza muchos rojos y azules */

@import url('https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

:root {
    --primary: #337084;
    --secondary: #de583b;
    --accent: #ebab7d;
    --text: #313129;
    --light: #f1e2c7;
    --neongreen: #70e000;
    --neongreen_darker: #38b000;
    --neoncyan: #6fffe9;
    --neoncyan_darker: #46a4a2;
    --neoncyan_darkest: #3a506b;
}