@import url("design-system.css");
@import url("animations.css");

body {
    background-image: url("https://m.media-amazon.com/images/I/61lqRxbsC5L._AC_UF894,1000_QL80_.jpg");
    background-color: rgb(234, 229, 224);
    background-repeat: repeat;
    background-size: 150px;
    background-blend-mode: lighten;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-size: 1.15rem;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;

}

.child {
    flex: 1 1 10rem;
    min-width: none;
    text-align: center;
}

h1 {
    color: var(--neoncyan_darkest);
    text-align: center;
    background-color: white;
    animation: glow 4s infinite;
}

h2 {
    color: var(--neoncyan_darker);
    text-align: center;
    font-style: oblique;
    background-color: white;
}

.calm-dialogue {
    background-color: var(--good-dialogue);
}

.battle-dialogue {
    background-color: var(--battle-dialogue);
}

.ending-dialogue {
    background-color: var(--ending-dialogue);
}

.calm-dialogue,
.battle-dialogue,
.ending-dialogue {
    border-radius: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
    animation: new-dialogue 300ms ease-in both;
}

.button {
    background-color: var(--neoncyan_darkest);
    border-radius: 5rem;
    padding: 1rem;
}

.button a {
    color: white;
    text-decoration: none;

}

.calm-dialogue img,
.battle-dialogue img,
.ending-dialogue img {
    box-shadow: 0rem 0rem 0.5rem 0.5rem var(--neoncyan_lightest);
    padding: 0.4rem;
    margin: 0.4rem;
}

.choosepoke>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 7rem;
}

.pokepick {
    padding: 0.4rem;
}

.button.choosepoke {
    background-color: var(--neoncyan_lightest);
}

.button.choosepoke a {
    color: var(--neoncyan_darkest);
}