@import url("design-system.css");

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 20px;

}

.child {
    flex: 1 1 200px;
    min-width: none;
    text-align: center;
}

h1 {
    color: var(--neoncyan_darkest);
    text-align: center;
}

h2 {
    color: var(--neoncyan_darker);
    text-align: center;
}

.calm-dialogue {
    background-color: var(--light);
}

.battle-dialogue {
    background-color: var(--neoncyan);
}

.calm-dialogue,
.battle-dialogue {
    border-radius: 50px;
    padding: 5px 20px 5px 20px;
    margin-bottom: 20px;
}

.button {
    background-color: var(--neoncyan_darkest);
    border-radius: 50px;
    padding: 10px;
}

.button a {
    color: white;
    text-decoration: none;

}

.button:hover {
    background-color: var(--neongreen_darker);
}