@import url("design-system.css");

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;

}

.child {
    flex: 1 1 10rem;
    min-width: none;
    text-align: center;
}

h1 {
    color: var(--neoncyan_darkest);
    text-align: center;
}

h2 {
    color: var(--neoncyan_darker);
    text-align: center;
    font-style: oblique;
}

.calm-dialogue {
    background-color: var(--light);
}

.battle-dialogue {
    background-color: var(--neoncyan);
}

.calm-dialogue,
.battle-dialogue {
    border-radius: 5rem;
    padding: 2rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
}

.button {
    background-color: var(--neoncyan_darkest);
    border-radius: 5rem;
    padding: 1rem;
}

.button a {
    color: white;
    text-decoration: none;

}

.button:hover {
    background-color: var(--neongreen_darker);
}