@import url("design-system.css");


body {
    background-image: url("https://m.media-amazon.com/images/I/61lqRxbsC5L._AC_UF894,1000_QL80_.jpg");
    background-color: rgb(234, 229, 224);
    background-repeat: repeat;
    background-size: 150px;
    background-blend-mode: lighten;
    font-family: "Google Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 2rem;

}

.child {
    flex: 1 1 10rem;
    min-width: none;
    text-align: center;
}

h1 {
    color: var(--neoncyan_darkest);
    text-align: center;
    background-color: white;
}

h2 {
    color: var(--neoncyan_darker);
    text-align: center;
    font-style: oblique;
    background-color: white;
}

.calm-dialogue {
    background-color: var(--light);
}

.battle-dialogue {
    background-color: var(--neoncyan);
}

.calm-dialogue,
.battle-dialogue {
    border-radius: 2rem;
    padding: 2rem 1rem 2rem 1rem;
    margin-bottom: 1rem;
}

.button {
    background-color: var(--neoncyan_darkest);
    border-radius: 5rem;
    padding: 1rem;
}

.button a {
    color: white;
    text-decoration: none;

}

.button:hover {
    background-color: var(--neongreen_darker);
}

.calm-dialogue img,
.battle-dialogue img {
    box-shadow: 0px 0px 5px 4px rgb(187, 175, 156);
    padding: 0.4rem;
    margin: 0.4rem;
}

.choosepoke>* {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 7rem;
}

.pokepick {
    padding: 0.4rem;
}

.button.choosepoke {
    background-color: var(--neoncyan_lightest);
}

.button.choosepoke a {
    color: var(--neoncyan_darkest);
}